# Global patterns
*.diff
*.exe
*.mode1v3
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.rej
*.swp
.DS_Store
nimcache/
project.xcworkspace/
tags
xcuserdata/

# Full paths.
/.vimrc.local
/LICENSE.html
/README.html
/dist/
/docindex.html
/docs/CHANGES.html
/docs/debugging_quicklook.html
/docs/release_steps.html
/nakefile
/nim/out.html
/nim/rester
/nim/rester.html
/nim/test.rst
/tests/code_blocks/code_blocks.html
/tests/code_blocks/user_tests.html
/tests/include/*.html
/tests/include/test_include
